%NeueMontreal {
    font-family: "Neue Montreal", sans-serif !important;
}

%Athletics {
    font-family: "Athletics" !important;
}

%MadeAvenuePersonalUse {
    font-family: "Made Avenue Personal Use" !important;
}
