// Breakpoints
$layout-breakpoint-large: 1920px;
$layout-breakpoint-medium: 1440px;
$layout-breakpoint-small: 960px;
$layout-breakpoint-xsmall: 480px;

// Colors
$eneseewhite: #ffffff;
$eneseeBlack: #000000;
$eneseeBlack1: #010010;
$eneseeGreen0: #03211b;
$eneseeGreen1: #12f0c4;
$eneseeGreen2: #1af8cc;
$eneseeGreen3: #09846b;
$borderLCG: rgba(18, 183, 161, 1);

//

$dark-blue: #1e344f;
$creamy-brown: #f8e9d4;
$bloody-red: #f40402;
$white: #ffffff;
$grinch-green: #479c4b;
$brown-orange: #ee8304;

//

$black: #0d0d0d;
$gray: #cbd5e1;
$gray-secondary: #656575;
$black-secondary: #07070c;
$white: #ffffff;
$greyish: #e2e2ea;
$primary: #11bebe;
$secondary: #111827;
$light-green: #0d9999;
$deep-blue: #0d1f62;
$yellow: #fff736;
$thick-blue: #0d224c;
$pink: #ed529a;
$green: #097857;

// marquee
