// Breakpoints
$layout-breakpoint-large: 1920px;
$layout-breakpoint-medium: 1440px;
$layout-breakpoint-small: 960px;
$layout-breakpoint-xsmall: 480px;

// Colors
$eneseewhite: #ffffff;
$eneseeBlack: #000000;
$eneseeBlack1: #010010;
$eneseeGreen0: #03211b;
$eneseeGreen1: #12f0c4;
$eneseeGreen2: #1af8cc;
$eneseeGreen3: #09846b;
$borderLCG: rgba(18, 183, 161, 1);

// marquee
