@font-face {
    font-family: "Neue Montreal";
    src: url("/assets/fonts/NeueMontreal-Light.otf") format("opentype");
    font-weight: 300;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Neue Montreal";
    src: url("/assets/fonts/NeueMontreal-Regular.otf") format("opentype");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Neue Montreal";
    src: url("/assets/fonts/NeueMontreal-Medium.otf") format("opentype");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Neue Montreal";
    src: url("/assets/fonts/NeueMontreal-Bold.otf") format("opentype");
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}

// Athletics::
@font-face {
    font-family: "Athletics";
    src: url("../../assets/fonts/Athletics/Athletics Light.otf") format("opentype");
    font-weight: 300;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Athletics";
    src: url("../../assets/fonts/Athletics/Athletics Regular.otf") format("opentype");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Athletics";
    src: url("../../assets/fonts/Athletics/Athletics Medium.otf") format("opentype");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Athletics";
    src: url("../../assets/fonts/Athletics/Athletics Bold.otf") format("opentype");
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Athletics";
    src: url("../../assets/fonts/Athletics/Athletics ExtraBold.otf") format("opentype");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

// Made Avenue Personal Use::
@font-face {
    font-family: "Made Avenue Personal Use";
    src: url("../../assets/fonts/Made-Avenue-Personal-Use/MADEAvenuePERSONALUSE-Regular.otf") format("opentype");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}
